# Project exclude paths
/out/
/.idea/description.html
/.idea/encodings.xml
/JavaPracticeProblem.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/aws.xml
